/* General */
.solution-section {
  position: relative;
  margin: 30px 0px;
  padding: 40px;
  border: 1px solid var(--contrast-3);
  border-radius: 15px;
}
.solution-section h3 {
  font-size: 1.3rem;
  color: var(--contrast-2);
  margin-bottom: 5px;
}
.section-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.section-main-content {
  width: 66%;
}
.section-side-content {
  width: 33%;
}
.jbati-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.jbati-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* header section */
.solution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.solution-header img {
  width: 150px;
}
.content-language {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0px;
}