/* General */
body,
body.single-solutions div.site {
  background-color: var(--base-2);
}

.solution-section {
  position: relative;
  background-color: var(--base-3);
  margin: 30px 0px;
  padding: 40px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}
.solution-section h3 {
  font-size: 1.3rem;
  color: var(--contrast-2);
  margin-bottom: 5px;
}
.section-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.section-main-content {
  width: 66%;
}
.section-side-content {
  width: 33%;
}
.jbati-3-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.jbati-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.jbati-taxonomy-content-wrapper,
.jbati-acf-content-wrapper {
  margin-bottom: 20px;
}
.jbati-acf-content-wrapper .acf-value {
  margin-bottom: 0px;
}
.acf-value,
div:not(.boxes-list) li.term {
  color: var(--contrast-1);
}

/* header section */
.solution-header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.solution-header h1,
.solution-header h3 {
  text-align: center;
}
.solution-header img {
  width: 150px;
}
.solution-header-image-name-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.solution-header-bottom-wrapper {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid var(--contrast-3);
}
.solution-header-bottom-wrapper ul {
  display: flex;
  justify-content: space-around;
}
.content-language {
  display: flex;
  column-gap: 40px;
  margin-top: 20px;
}

/* First section */
.solution-content .section-main-content {
  width: 64%;
}
.price-sub-section {
  width: 36%;
  background-color: var(--base-2);
  margin: -40px -40px -40px 0px;
  padding: 40px 40px 40px 20px;
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

/* Functionalities section */
.jbati-full-width {
  background-color: var(--base);
  margin: 40px -40px;
  padding: 25px 40px;
}
.jbati-full-width .jbati-acf-content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 0px;
}
.jbati-full-width .jbati-acf-content-wrapper > * {
  font-size: 23px;
  font-weight: 600;
  color: var(--contrast-1);
  line-height: 1.2;
  margin-bottom: 0;
}
.theme-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 15px;
}

/* Comment section */
.comment-form .submit {
  border-radius: 99px;
}

input.star {
  display: none;
}
.star-rating-wrapper {
  width: fit-content;
}
label.star {
  float: right;
  padding: 5px;
  font-size: 32px;
  color: var(--contrast-2);
  transition: all .2s;
}
label.star::before {
  content: '☆';
}
input.star:checked ~ label.star:before {
  content: '★';
  color: #FD4;
  transition: all .25s;
}

@media (max-width: 1024px) {
  .content-language {
    column-gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .solution-section {
    padding: 30px;
  }
  .jbati-full-width {
    margin: 30px -30px;
  }
  .solution-header-top-wrapper,
  .solution-header-image-name-wrapper,
  .solution-header-bottom-wrapper ul,
  .content-language {
    flex-direction: column;
  }
  .solution-header-bottom-wrapper ul {
    align-items: center;
    row-gap: 10px;
  }
}
@media (max-width: 450px) {
  .solution-section {
    margin: 15px 0px;
  }
}