/* Grey background */
body,
body.archive div.site {
  background-color: var(--base-2);
}
body.archive div.site div.site-content {
  padding: 0px 60px 60px 60px;
}
/* Intro */
.jbati-intro {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 60px;
  padding: 40px 0px;
  background-color: var(--base);
}
.jbati-intro > * {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 60px;
}

/* Archive Solutions */
.jbati-solutions-archive-content {
  margin-top: -25px;
}
.solution-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-item-header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.solution-item-header .entry-thumbnail {
  line-height: 0px;
}
.solution-item-header img {
  max-width: 150px;
}
.solution-item-header-title-wrapper h3 {
  margin: 0px;
}
.solution-item-header-link-wrapper {
  min-width: fit-content;
}
.jbati-solutions-archive-content h2 {
  text-align: center;
}
.jbati-solution {
  position: relative;
  background-color: var(--base-3);
  margin: 25px 14px;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: box-shadow 0.4s linear, opacity 1s linear;
}
.jbati-solution:hover {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.4);
}
.jbati-solution:not(.active) {
  position:absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.jbati-solution.active {
  opacity: 1;
}
.jbati-solution .inside-article > * {
  padding: 0px 25px;
}
.jbati-solution .inside-article > div:first-child {
  padding-top: 25px;
}
.jbati-solution .inside-article > div:last-child {
  padding-top: 10px;
  padding-bottom: 25px;
}
.jbati-solution .entry-summary {
  margin: 30px 0px;
}
.solution-footer {
  background-color: var(--base);
  border-radius: 0px 0px 15px 15px;
}
.solution-footer ul {
  display: flex;
  justify-content: space-between;
}
.checkmark {
  color: white;
  padding: 0px 5px;
  border-radius: 9999px;
  background-color: var(--contrast-3);
  margin-right: 10px;
}
.checkmark.active {
  background-color: var(--accent);
}

/* Filters */
.inside-left-sidebar {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
}
.filters-title {
  margin: 20px 20px 0px 20px;
}
.filter-title {
  font-size: 1.1rem;
}
.filter-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.filter-item-wrapper .checkbox {
  margin: 0px 10px;
}
.filter-item-wrapper .label {
  width: 100%;
}