/* Grey background */
body,
body.archive div.site,
body.search div.site {
  background-color: var(--base-2);
}
body.archive div.site div.site-content,
body.search div.site div.site-content {
  padding: 0px 60px 60px 60px;
}
.jabti-solutions-archive-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
@media (max-width: 1024px) {
  body.archive div.site div.site-content,
  body.search div.site div.site-content {
    padding: 0px 30px 40px 30px;
  }
  .jabti-solutions-archive-grid {
    grid-template-columns: 1fr;
  }
  div.site div.jbati-solutions-archive-sidebar {
    margin-left: 14px;
    width: 280px;
  }
}
@media (max-width: 850px) {
  body.archive div.site div.site-content,
  body.search div.site div.site-content {
    padding: 0px 10px 30px 10px;
  }
  div.site div.jbati-solutions-archive-sidebar {
    margin-left: 14px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  body.archive div.site div.site-content,
  body.search div.site div.site-content {
    padding: 0px 5px 30px 5px;
  }
}
/* Intro */
.jbati-intro {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 60px;
  padding: 40px 0px;
  background-color: var(--base);
}
.jbati-intro > * {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 60px;
}

.empty-solutions-message {
  display: none;
}
.empty-solutions-message.active {
  display: block;
}

/* Archive Solutions */
.solution-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-item-header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.solution-item-header .entry-thumbnail {
  line-height: 0px;
}
.solution-item-header img {
  max-width: 150px;
}
.solution-item-header-title-wrapper h3 {
  margin: 0px;
}
.solution-item-header-link-wrapper {
  min-width: fit-content;
}
.jbati-solutions-archive-content h2 {
  text-align: center;
}
.jbati-solution {
  position: relative;
  background-color: var(--base-3);
  margin: 0px 14px 50px 14px;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  transition: box-shadow 0.4s linear, opacity 1s linear;
}
.jbati-solution:hover {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.4);
}
.jbati-solution:not(.active) {
  position:absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.jbati-solution:not(.active) > * {
  display: none;
}
.jbati-solution.active {
  opacity: 1;
}
.jbati-solution .inside-article > * {
  padding: 0px 25px;
}
.jbati-solution .inside-article > div:first-child {
  padding-top: 25px;
}
.jbati-solution .inside-article > div:last-child {
  padding-top: 25px;
  padding-bottom: 25px;
}
.jbati-solution .entry-summary {
  margin: 30px 0px;
}
.solution-footer {
  background-color: var(--base);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.solution-footer ul {
  display: flex;
  justify-content: space-between;
}

/* Filters */
.inside-left-sidebar {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 40px;
}
.filters-title {
  padding: 20px;
  margin: 0;
  border-radius: var(--border-radius);
}
.filter-title {
  font-size: 1.1rem;
}
.filter-items-wrapper:first-child {
  padding-top: 0px;
}
.filter-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.filter-item-wrapper .checkbox {
  margin: 0px 10px;
}
.filter-item-wrapper .label {
  width: 100%;
}
@media (max-width: 1024px) {
  .jbati-filters-wrapper {
    display: none;
  }
  .jbati-filters-wrapper.active {
    display: block;
  }
  .filters-title-accordion-button {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .filters-title-accordion-button:hover {
    background-color: var(--base-2);
  }
  .filters-title-accordion-button::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    margin-left: 10px;
  }
}

/* Extra filter controls */
.jbati-extra-filter-controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 20px 20px;
  min-width: fit-content;
}
.jbati-made-in-ca-switch-label {
  display: flex;
  align-items: center;
  min-width: 215px;
}
.jbati-flag-icon {
  font-size: 30px;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .jbati-extra-filter-controls-wrapper {
    margin-bottom: -60px;
    justify-content: end;
    gap: 15px;
  }
  .jbati-pill:not([data-filter-slug="clear-all"]) {
    display: none;
  }
}