/* General */
body,
body.single-solutions div.site {
  background-color: var(--base-2);
}

.solution-section {
  position: relative;
  margin: 30px 0px;
  padding: 40px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}
.solution-section h3 {
  font-size: 1.3rem;
  color: var(--contrast-2);
  margin-bottom: 5px;
}
.section-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.section-main-content {
  width: 66%;
}
.section-side-content {
  width: 33%;
}
.jbati-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.jbati-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.acf-value,
div:not(.boxes-list) li.term {
  color: var(--contrast-1);
}

/* header section */
.solution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.solution-header img {
  width: 150px;
}
.solution-header-image-name-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content-language {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0px;
}

/* First section */
.solution-content .section-main-content {
  width: 64%;
}
.price-sub-section {
  width: 36%;
  background-color: var(--base-2);
  margin: -40px -40px -40px 0px;
  padding: 40px 40px 40px 20px;
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

/* Functionalities section */
.jbati-full-width {
  background-color: var(--base);
  margin: 40px -40px;
  padding: 25px 40px;
}
.jbati-full-width .jbati-acf-content-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.jbati-full-width .jbati-acf-content-wrapper > * {
  font-size: 23px;
  font-weight: 600;
  color: var(--contrast-1);
  line-height: 1.2;
  margin-bottom: 0;
}
.theme-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 15px;
}

/* Comment section */
.comment-form .submit {
  border-radius: 99px;
}

input.star {
  display: none;
}
.star-rating-wrapper {
  width: 190px;
}
label.star {
  float: right;
  padding: 5px;
  font-size: 32px;
  color: var(--contrast-2);
  transition: all .2s;
}
label.star::before {
  content: '☆';
}
input.star:checked ~ label.star:before {
  content: '★';
  color: #FD4;
  transition: all .25s;
}