/* Main */
div.site div.site-content {
  padding: 100px;
  display: block;
}
.jabti-solutions-archive-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
div.site div.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
}

/* Accordion */
.jbati-accordion-button {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}
.jbati-accordion-button::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}
.jbati-accordion-content {
  display: none;
}
.jbati-accordion-content.active {
  display: block;
}

/* Button */
div.button {
  background-color: var(--light-blue);
  border-radius: 9999px;
}
div.button:hover {
  background-color: var(--accent);
}
div.button a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  display: block;
}

/* Percent bar */
.acf-percent-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.acf-percent-outer-bar {
  width: 80%;
  height: 20px;
  border: 1px solid black;
  box-sizing: content-box;
}
.acf-percent-bar {
  background-color: var(--light-blue);
  height: 20px;
}

/* Boxes list */
.boxes-list ul {
  display: flex;
  flex-wrap: wrap;
}
.boxes-list li {
  background-color: var(--light-blue);
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;
}