/* Main */
div.site div.site-content {
  padding: 100px;
  display: block;
}
.jabti-solutions-archive-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
div.site div.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px #e5e5e5;
  text-align: center;
  width: 100%;
}

/* Archive Solutions */
.jbati-link-wrapper {
  text-decoration: none;
  color: black;
}
.jbati-solutions-archive-content h2 {
  text-align: center;
}
.jbati-solution {
  position: relative;
  background-color: transparent;
  margin: 40px 40px;
}
.jbati-solution::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  width: 70%;
  right: 15%;
  height: 1px;
  background-color: #e5e5e5;
}
.jbati-solution:not(.active) {
  position:absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.jbati-solution.active {
  opacity: 1;
  transition: opacity 1s linear;
}

/* Filters */
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 20px;
}

.filter-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.filter-item-wrapper .checkbox {
margin: 0px 10px;
}
.filter-item-wrapper .label {
  width: 100%;
}

/* Accordeon */
.jbati-accordion-button {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}
.jbati-accordion-button::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}
.jbati-accordion-content {
  display: none;
}
.jbati-accordion-content.active {
  display: block;
}

/* Solution box */