/* Variables */
:root {
  --border-radius: 15px;
}

/* Main */
div.site div.site-content {
  padding: 60px;
  display: block;
}
div.site div.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
}

/* Header */
header.site-header {
  z-index: 10;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
}
.navigation-search input[type="search"] {
  opacity: 1;
}
div.top-bar {
  font-size: 17px;
}

/* Gravity forms */
.gfield_checkbox {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
div.ginput_container_checkbox ul.gfield_checkbox li label {
  width: auto;
}

/* Accordion */
.jbati-accordion-item:not(:last-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border-bottom: 1px solid var(--contrast-3);
}
.jbati-accordion-button {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  padding: 18px 15px;
  margin: 0;
}
.jbati-accordion-button::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}
.jbati-accordion-button:hover,
.jbati-accordion-item.active .jbati-accordion-button {
  background-color: var(--base-2);
}
.jbati-accordion-item.active .jbati-accordion-button:hover {
  background-color: var(--base);
}
.jbati-accordion-content {
  padding: 15px 10px;
  display: none;
}
.jbati-accordion-item.active .jbati-accordion-content {
  display: block;
}

/* Button */
div.button {
  background-color: var(--accent);
  border-radius: 9999px;
}
div.button:hover {
  background-color: var(--darker-blue);
}
div.button a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  display: block;
}

/* Search bar */
.wp-block-search__inside-wrapper {
  border: none;
  border-bottom: 2px solid var(--contrast-3);
}

/* Percent bar */
.acf-percent-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.acf-percent-outer-bar {
  width: 80%;
  height: 20px;
  border: 1px solid black;
  box-sizing: content-box;
}
.acf-percent-bar {
  background-color: var(--accent);
  height: 20px;
}

/* Boxes list */
.boxes-list ul {
  display: flex;
  flex-wrap: wrap;
}
div.boxes-list li {
  color: var(--contrast);
  background-color: var(--accent);
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;
}

/* Checkmarks */
.checkmark {
  color: white;
  padding: 0px 5px;
  border-radius: 9999px;
  background-color: var(--contrast-3);
  margin-right: 10px;
}
.checkmark.active {
  background-color: var(--accent);
}

/* Pills */
.jbati-pill {
  background-color: var(--base);
  padding: 5px 10px;
  border-radius: 9999px;
  margin: 5px;
  display: inline-block;
}
.jbati-pill::after {
  content: "x";
  margin-left: 10px;
  cursor: pointer;
}

/* Switch */
.jbati-switch-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.jbati-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex: none;
}
.jbati-switch-track {
  width: 50px;
  height: 25px;
  border-radius: 9999px;
  background-color: var(--contrast-3);
  cursor: pointer;
}
.jbati-switch-control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: .15s transform cubic-bezier(.4,0,.2,1);
  transform: translate(-10px);
  position: absolute;
  align-items: center;
  display: flex;
  flex: none;
  justify-content: center;
}
.jbati-switch-control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
}
.jbati-switch.active .jbati-switch-track {
  background-color: #eb0d0d;
}
.jbati-switch.active .jbati-switch-control {
  transform: translate(10px);
}
.jbati-switch-input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.jbati-switch-thumb {
  align-items: center;
  border-radius: 50%;
  background-color: var(--base-3);
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  pointer-events: none;
  transition: .15s transform cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}